<!DOCTYPE html>
<html {{ fn('language_attributes') }}>
<head>
	<meta charset="{{ site.charset }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-sm-web-app-capable" content="yes">
	<meta name="apple-sm-web-app-title" content="{{ site.name }} - {{ site.description }}">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="{{ site.pingback_url }}">
	{{ fn('wp_head') }}
	{% if options.head_scripts %}
		{{ options.head_scripts }}
	{% endif %}
</head>

<body id="" class="yp-frontend {{ body_class }}">

	<div class="site" id="page">

		{# The Navbar Area #}
		<div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
			<header>

			</header>
		</div>
		{# wrapper-navbar end #}

		<div id="main-content-inner">
		{# this id="main-content-inner" close on footer #}