{% if primary_nav %}
<nav id="navigation" class="yp-nav" role="navigation" aria-label="Primary" itemscope
    itemtype="https://schema.org/SiteNavigationElement">

    <ul class="yp-menu  list-none pl-0 flex items-center md:gap-8 xl:gap-0" role="list">
        {% for item in primary_nav.items %}
        {% set insight_terms = item.cat_terms %}


        {# Determine if parent nav item is active #}
        {% set current_url = fn('get_permalink') %}
        {% set is_active = (item.url == current_url) %}
        {% if not is_active and item.meta('menu_options') %}
        {% set menu_options = item.meta('menu_options') %}
        {% for col in menu_options.page_cols %}
        {% if col.heading.url == current_url %}
        {% set is_active = true %}
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if item.meta('mega_menu') %}
        {% set menu_options = item.meta('menu_options') %}
        {# Mega Menu #}
        <li class="group m-0 hidden xl:flex no-scroll {% if item.meta('mobile_only') %} flex xl:hidden {% endif %}"
            itemprop="name">
            {% if item.meta('none_link') %}
            <span
                class="primary-nav-item group-hover:text-text-link-fill-hover  no-link-style nav-item text-text-body-fill-primary text-lg flex items-center gap-2 font-semibold {{ is_active ? 'active' : '' }}">
                <span>
                    {{ item.title }}
                </span>
                <span class="group-hover:rotate-180 transition-default">
                    {% include "resources/images/icons/chevron-down.svg" %}
                </span>
            </span>
            {% else %}
            <a class="primary-nav-item group-hover:text-text-link-fill-hover general-transition no-link-style nav-item text-text-body-fill-primary text-lg flex items-center gap-2 font-semibold {{ is_active ? 'active' : '' }}"
                href="{{ item.url }}" itemprop="url" {{ is_active ? 'aria-current="page"' }} target="{{item.target }}"
                title="Go to the {{ item.title }} page">
                <span>
                    {{ item.title }}
                </span>
                <span class="group-hover:rotate-180 transition-default">
                    {% include "resources/images/icons/chevron-down.svg" %}
                </span>
            </a>
            {% endif %}
            {# Mega Menu Container #}
            <div
                class="absolute hidden bg-background-primary-bg-fill top-full left-1/2 transform -translate-x-1/2  w-screen group-hover:block max-h-[80vh] overflow-scroll pb-5">
                <div class="yp-container !p-10 rounded-lg bg-surface-primary-bg-fill-default mt-sm">
                    {% if item.cat_terms %}
                    <ul class="ml-0 pl-0 grid xl:grid-cols-4 gap-10">
                        {% for item in item.cat_terms %}
                        {% include "components/mega-col-term.twig" %}
                        {% endfor %}
                    </ul>
                    {% else %}
                    {% if menu_options %}
                    <ul class="ml-0 pl-0 grid xl:grid-cols-{{menu_options.menu_cols}} gap-10">
                        {% for item in menu_options.page_cols %}
                        {% set link = item.heading.url != "#" %}
                        {% if item.col_type == 'item' %}
                        {% include "components/mega-col-item.twig" %}
                        {% else %}
                        {% include "components/mega-col-list.twig" %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>

        {% else %}
        {# None mega menu #}
        <li class="m-0 hidden xl:flex  {% if item.meta('mobile_only') %} flex xl:hidden {% endif %}" itemprop="name">
            {% if item.meta('none_link') %}
            <span class="primary-nav-item  no-link-style nav-item text-text-body-fill-primary text-lg font-semibold">
                {{ item.title }}
            </span>
            {% else %}
            <a class="primary-nav-item general-transition no-link-style nav-item text-text-body-fill-primary text-lg font-semibold {{ is_active ? 'active' : '' }}"
                href="{{ item.url }}" itemprop="url" {{ is_active ? 'aria-current="page"' }} target="{{item.target }}"
                title="Go to the {{ item.title }} page">
                {{ item.title }}
            </a>
            {% endif %}
        </li>

        {% endif %}

        {% endfor %}

        {% if general_settings.header_button %}
        <span class="hidden md:flex pl-4">
            {% include 'components/button.twig' with {
            button: general_settings.header_button,
            class:'secondary',
            } %}
        </span>
        {% endif %}

        {# hamburger #}
        <li class="block xl:hidden size-10 !m-0 !p-0">
            <button
                class="border secondary !w-10 h-full !shink-0 !grow-0 rounded-full flex items-center justify-center yp-hamburger !p-0 !m-0"
                aria-label="Menu" aria-controls="navigation-menu" aria-expanded="false">
                {% include "resources/images/icons/hamburger.svg" %}
                {% include "resources/images/icons/x.svg" %}
            </button>
        </li>
    </ul>

</nav>
{% endif %}