{% if primary_nav %}
<nav id="navigation" class="yp-nav" role="navigation" aria-label="Primary" itemscope
    itemtype="https://schema.org/SiteNavigationElement">

    <ul class="yp-menu list-none pl-0 flex items-center  md:gap-8" role="list">

        {% for item in primary_nav.items %}
        {% set is_active = (item.url == fn('get_permalink')) %}
        <li class="m-0 hidden xl:flex  {% if item.meta('mobile_only') %} flex xl:hidden {% endif %}" itemprop="name">
            {% if item.meta('none_link') %}
            <span class="no-link-style nav-item text-text-body-fill-primary text-lg font-semibold">
                {{ item.title }}
            </span>
            {% else %}
            <a class="general-transition no-link-style nav-item text-text-body-fill-primary text-lg font-semibold {{ is_active ? 'active' : '' }}"
                href="{{ item.url }}" itemprop="url" {{ is_active ? 'aria-current="page"' }} target="{{item.target }}"
                title="Go to the {{ item.title }} page">
                {{ item.title }}
            </a>
            {% endif %}
        </li>
        {% endfor %}

        {% if general_settings.header_button %}
        <span class="hidden md:flex">
            {% include 'components/button.twig' with {
            button: general_settings.header_button,
            class:'secondary',
            } %}
        </span>
        {% endif %}

        {# hamburger #}
        <li class="block xl:hidden size-10 !m-0 !p-0">
            <button
                class="border secondary !w-10 h-full !shink-0 !grow-0 rounded-full flex items-center justify-center yp-hamburger !p-0 !m-0"
                aria-label="Menu" aria-controls="navigation-menu" aria-expanded="false">
                {% include "resources/images/icons/hamburger.svg" %}
                {% include "resources/images/icons/x.svg" %}
            </button>
        </li>
    </ul>

</nav>
{% endif %}