<article
    class="bg-surface-primary-bg-fill-default hover:bg-surface-primary-bg-fill-hover p-8 w-full group border border-surface-primary-bg-stroke-default general-transition rounded"
    itemscope itemtype="https://schema.org/Article" role="article">
    <a href="{{item.link}}" class="no-link-style flex flex-col gap-3" aria-label="Read more about {{ item.title }}"
        title="Read more about {{ item.title }}" itemprop="url">
        {% if term %}
        <p class="!m-0 overline-large text-{{term_color}}">
            {{term}}
        </p>
        {% endif %}
        <div class="flex items-start gap-6">
            <h3 class="m-0 title-small" itemprop="headline">
                {{item.title}}
            </h3>
            <div
                class="h-5 xl:h-6 w-auto shrink-0 grow-0 fill-text-heading-fill-secondary group-hover:fill-{{term_color}}">
                {% include "resources/images/icons/arrow.svg" %}
            </div>
        </div>
        {% if item.excerpt %}
        <p class="!m-0 body-small" itemprop="description">
            {{ item.excerpt.strip(true).read_more('').length(999) | truncate(20, true, '…') }}
        </p>
        {% endif %}
    </a>
</article>