{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="overflow-clip">
      <div class=" yp-container flex flex-col gap-10 md:gap-24 xl:flex-row xl:justify-between xl:items-end xl:gap-0">

            {# content #}
            <div class="pt-md xl:pb-24 flex flex-col gap-10 w-full xl:w-[544px]">
                  <div class="flex flex-col gap-8">
                        {% include 'components/heading.twig' with {
                        tag: fields.tag,
                        heading: fields.heading,
                        class:'heading-large'
                        }
                        %}
                        {% include 'components/content.twig' with {class: 'm-0 body-large'} %}
                        {% include "components/buttons.twig" with {buttons: fields.buttons, button_class: 'primary'} %}
                  </div>

                  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-sm gap-y-3 md:gap-y-4"
                        aria-labelledby="stats-heading" itemscope itemtype="https://schema.org/Statistics">
                        {% for item in fields.statistics %}
                        <div class="flex items-center justify-between border-b pb-3 md:pb-4 border-background-primary-bg-stroke"
                              itemscope itemprop="hasPart" itemtype="https://schema.org/QuantitativeValue">
                              <p class="!m-0 flex title-large text-text-heading-fill-primary">
                                    {% if item.prefix %}
                                    <span aria-hidden="true" itemprop="unitText">{{ item.prefix }}</span>
                                    {% endif %}
                                    {% if item.number %}
                                    <span class="stat-number" data-target-number="{{ item.number }}" role="status"
                                          itemprop="value"
                                          aria-label="{{ item.prefix ~ ' ' ~ item.number ~ ' ' ~ item.postfix }}">
                                          {% if fn('is_admin') %}
                                          {{ item.number }}
                                          {% else %}
                                          0
                                          {% endif %}
                                    </span>
                                    {% endif %}
                                    {% if item.postfix %}
                                    <span aria-hidden="true" itemprop="unitText">{{ item.postfix }}</span>
                                    {% endif %}
                              </p>

                              {% if item.copy %}
                              <p class="!m-0 body-large" itemprop="description">
                                    {{ item.copy }}
                              </p>
                              {% endif %}

                        </div>
                        {% endfor %}
                  </div>
            </div>
            {# phone images #}
            <div class="relative h-[320px] md:h-[500px] xl:w-[500px] xl:h-full">
                  {% if fields.hero_image_primary %}
                  <div class="w-[230px] md:w-[360px] xl:w-[345px] h-auto absolute bottom-0 right-0 z-2">
                        {{ responsive_img(
                        fields.hero_image_primary, {
                        size: 'large',
                        class: 'object-container w-full h-auto',
                        })
                        }}
                  </div>
                  {% endif %}
                  {% if fields.hero_image_secondary %}
                  <div class="w-[180px] md:w-[290px] xl:w-[275px] h-auto absolute bottom-0 left-0 z-1">
                        {{ responsive_img(
                        fields.hero_image_secondary, {
                        size: 'large',
                        class: 'object-contain w-full h-auto',
                        })
                        }}
                  </div>
                  {% endif %}
                  <div
                        class="absolute h-auto bottom-[-110px] w-[350px] right-[-200px] xl:bottom-[-110px]  xl:right-[-180px] xl:w-[460px]">
                        {% include "resources/images/icons/blob.svg" %}
                  </div>
            </div>
      </div>
</div>
{% endblock %}