{% extends "base/base.twig" %}

{% block body %}


<section id="" class="light-theme overflow-clip">
    <div class="section-wrapper bg-background-primary-bg-fill padding-top-regular ">
        <div class="yp-container flex flex-col gap-6 md:gap-8">
            {# filter #}
            <div class="flex flex-col gap-6 md:gap-8 md:items-center max-w-[957px] mx-auto pb-6 md:pb-8">
                <div class="flex flex-col gap-6 md:items-center">
                    {% include 'components/heading.twig' with {
                    tag: 'h1',
                    heading: insights_fields.heading,
                    class: 'headline-large md:text-center'
                    } %}
                    {% include 'components/content.twig' with {
                    content: insights_fields.content,
                    class: 'm-0 body-small md:text-center'
                    } %}
                </div>

                {% if terms %}
                <div class="flex items-center gap-3 text-button-primary-text-fill-default flex-wrap">
                    <a href="{{archive_page}}" title="View all insights" class="no-link-style">
                        <button
                            class="filter-button !py-[5px] !px-5 border-button-primary-bg-stroke-default text-button-secondary-text-fill-default {{ is_all ? 'active' }}">
                            {{ 'All Insights' | __ }}
                        </button>
                    </a>
                    {% for item in terms %}
                    {% set is_active = current_term == item.slug %}
                    <a href="{{item.link}}" title="View {{item.name}} insights" class="no-link-style">
                        <button
                            class="filter-button !py-[5px] !px-5 border-button-primary-bg-stroke-default text-button-secondary-text-fill-default {{ is_active ? 'active' }}">
                            {{ item.name }}
                        </button>
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {# posts #}
            <div class="blog-feed-container w-full relative ">
                {% for item in posts %}
                {% set terms = item.terms('category') %}
                {% if terms|length %}
                {% set term = terms[0] %}
                {% if term.slug == 'blog' %}
                {% set term_color = 'text-heading-fill-highlight-1' %}
                {% elseif term.slug == 'latest-news' %}
                {% set term_color = 'text-heading-fill-highlight-2' %}
                {% elseif term.slug == 'whitepaper' %}
                {% set term_color = 'text-heading-fill-highlight-3' %}
                {% endif %}
                {% endif %}
                {% include "components/post-card.twig" %}
                {% endfor %}
            </div>
            {# Pagination #}
            {% if pagination %}
            <section class="yp-container">
                {% include "components/pagination.twig" with {pagination: pagination} %}
            </section>
            {% endif %}
        </div>
    </div>
</section>

{% if insights_fields.cta %}
{% include "blocks/gravity-grid-cta/gravity-grid-cta.twig" with {
color_profile: 'light-theme',
background_color: 'bg-background-primary-bg-fill',
block_spacing: 'padding-top-regular padding-bottom-regular',
fields: {
cta: {
url: insights_fields.cta.url,
title: insights_fields.cta.title
}
}
} %}
{% endif %}

{% endblock %}