{% extends "base/base.twig" %}

{% block body %}
    {% if post.thumbnail %}
        <section class="pt-8 pb-20">
            <div class="container">
                <div>
                    {{ responsive_img(post.thumbnail,{size:'large',class:'object-cover size-full'}) }}
                </div>
            </div>
        </section>
    {% endif %}

    <section>
        <div class="container">

            <h1 class="entry-title mb-8">{{ post.title }}</h1>

            <div class="flex gap-5">
                <h4>Post date:</h4>
                <time class="font-bold"
                      datetime="{{ post.post_date|date('Y-m-d H:i:s') }}">
                    {{ post.post_date|date('F d Y') }}
                </time>
            </div>

            <div class="flex gap-5">
                <h4>
                    Post by:
                </h4>
                <a href="{{ post.author.link }}">{{ post.author.name }}</a>
            </div>

            <div class="flex gap-5">
                <h4 class="categories">
                    Categories:
                </h4>
                <ul class="list-none pl-0 flex gap-2.5">
                    {% for term in post.terms %}
                        <li>
                            <a href="{{ term.link }}">
                                {{ term.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>

            <div class="entry-content">
                <h4>Post content:</h4>

                {% include 'components/content.twig'with{content:post.content, class:'w-3/4 mx-auto'} %}
            </div>

        </div>
    </section>
{% endblock %}
