{% extends "components/block-wrapper.twig" %}
{% block block_content %}
<div class="yp-container flex flex-col gap-12 md:gap-16 md:items-center">
      <div class="flex flex-col gap-6 max-w-[736px] mx-auto md:items-center">
            {% include 'components/heading.twig' with {tag: fields.tag, heading: fields.heading,
            class:'headline-large md:text-center'} %}
            {% include 'components/content.twig' with {class: 'm-0 body-large md:text-center'} %}
      </div>
      {% if fields.boxes %}
      {% set box_count = fields.boxes|length %}
      {% set xl_cols = box_count < 4 ? 'xl:grid-cols-' ~ box_count : 'xl:grid-cols-4' %} <div
            class="grid grid-cols-1 md:grid-cols-2 {{ xl_cols }} gap-6 md:gap-8 w-full">
            {% for item in fields.boxes %}
            {% set is_last = loop.last %}
            {% set is_odd = box_count is odd %}
            {% if is_last %}
            {% if is_odd %}
            {% set md_col_span = 'md:col-span-2' %}
            {% else %}
            {% set md_col_span = 'md:col-span-1' %}
            {% endif %}
            {% endif %}
            <div
                  class="rounded bg-surface-primary-bg-fill-default p-8 flex flex-col gap-5 h-auto col-span-1 {{md_col_span}} xl:col-span-1">
                  <div class="flex flex-col gap-5">
                        {% if item.icon %}
                        <div class="size-14 flex justify-center items-center shrink-0 grow-0">
                              {{ responsive_img(
                              item.icon, {
                              size: 'large',
                              class: 'object-contain w-full h-full',
                              })
                              }}
                        </div>
                        {% endif %}
                        {% if item.heading %}
                        <h3 class="!m-0 title-small">
                              {{item.heading}}
                        </h3>
                        {% endif %}
                  </div>
                  {% if item.point %}
                  <div class="flex flex-col">
                        {% for item in item.point %}
                        <div class="py-2 border-t border-background-primary-bg-stroke">
                              <p class="my-auto !m-0">
                                    {{item.copy}}
                              </p>
                        </div>
                        {% endfor %}
                  </div>
                  {% endif %}
            </div>
            {% endfor %}
</div>
{% endif %}
{% include "components/buttons.twig" with {buttons: fields.buttons, button_class: 'primary'} %}
</div>
{% endblock %}